.header {
    position: relative;
    right: 0;
    left: 0;
    height: 140px;
    line-height: 120px;
    background-color: rgb(16, 128, 213);
    z-index: 1;
}

.header-title {
    text-align: center;
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 40px;
    color: ghostwhite;
}



td {
 
    text-align:center;
 
}
 

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    color: rgb(36, 41, 46);
}

h1 {
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
    border-bottom: 3px solid rgb(8, 114, 235);
}

h2 {
    text-align:left;
    font-size: 25px;
    font-weight: 550;
    margin: 20px 0px 20px 0px;
}

h3 {
    font-size: 18px;
    font-weight: 460;
    margin: 10px 0px 3px 0px;
    padding-bottom: 12px;
}

h4 {
    font-size: 22px;
    font-weight: 450;
    margin: 10px 0px 10px 0px;
    padding-bottom: 12px;
}

h5 {
    vertical-align:middle;
    font-size: 16px;
    font-weight: 450;
    margin: 5px 2px 5px 2px;
}

h6 {
    vertical-align:middle;
    font-size: 16px;
    font-weight: 550;
    margin: 5px 2px 5px 2px;
    color: #149445;
}



.audio-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 5px 5px 5px;
}

.audio-inline {
    display: inline-block;
    text-align:center;
}

.audio-line {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 2px 5px 20px 5px;
}

.text {
    font-size: 16px;
    text-align: center;
    font-style: italic;
    line-height: 120%;
}